*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

.black{
    color: black;
    
    font-size: larger;
}

html{
    scroll-behavior: smooth;
  
}


body{
    
    color: aliceblue;

    background: url('./HD-wallpaper-x-treme-skull-purge-skulls.jpg') no-repeat;    
    background-size: cover;
    background-position: center; 
    

 
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 8px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: rgba(0, 195, 255, 0.496);
    position: relative;
    
    
 
    }
.logo{
    position: relative;
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
   
}

nav a{
    font-size: 18px;
    color: aliceblue;
    text-decoration: none;
    font-weight: 500;
    margin: left 25px;
    transition: .3s;
    margin: 0 8px;
      
   

}

nav a:hover{
    color: aqua;
    font-size: 18.2;
    text-decoration: underline;

}

section div{
    margin: 2% 5%;
    padding: 5px;
    text-align: center;
    
}

section div h1{
    font-size: 50;
}

#home h1{
    font-size: 70;
    
    }

#home p{
    font-weight: 900;
    color:rgb(0, 255, 247);
} 

#about p , #home p{
    font-size: 20;
}

#about p2{
    font-weight: 800;
    color: rgb(251, 201, 108);
}
    
#rules p{
    margin: 40px;
    text-align:left;
    font-weight: 700;
    color: rgb(70, 254, 3);
    font-size: 20;
    
    
}

#rules p1{
    color: rgb(251, 201, 108);
}

#rules p3{
    color: rgb(0, 255, 247);
}


#status p{
    
    padding: 5px;
    Margin: 25px;    
    font-size: 20;
    font-weight: 700;
    background-color: rgba(128, 128, 128, 0.693);
    border: 2px solid black;
    border-radius: 10px;   
    color: rgb(70, 254, 3);
    justify-content: space-between;
    
}

.symbol {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    text-align: left;
    margin: 0 2%;
    margin-bottom: 2%;
    background: #007ddc8c;
    border: solid black 2px;
    border-radius: 10px;
    font-weight: 700;    
    
}

.symbol p1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5%;
    padding-top: 1%;
    margin: 0 40%;
}

.symbol ol{
    margin: 0 2% ;
    width: 100%;
   
}

.symbol ol li{
    margin: 2%;
}


.Players , .Eliminated{
    
    color: aqua;
    height:fit-content;
    padding: 30px 20px;
    width: 90%;
    border: solid 2px black;
    border-radius: 40px;
    text-align: left;
    background-color: rgba(0, 195, 255, 0.707);
    font-weight: 700;
    transition: 0.3s;
}

.Players:hover{
    color: black;
    background-color: rgba(0, 255, 21, 0.733);
    
}
.Eliminated:hover{
    color: black;
    background-color: rgba(255, 17, 17, 0.722);
    

}


.Players{
    color: rgb(0, 249, 50);
}

.Players ol li{
    margin: 1 20px;
    
}

.Eliminated{
    color: rgb(0, 249, 50); 
        
}

.Eliminated ol li{
    margin: 1 20px;
}

.contain{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-content: center;
    margin: 0;
          
}

 #g1{
    /* display: grid; */
    display: flex;
    grid-template-columns: repeat(1,1fr);
    justify-content: center;
    align-content:center ;
    margin: 0 ;
    padding: 0 ;
   
}    

#contact_us{
    margin: 0;
}


#contact{
    align-items:center;
    /* background-color: aqua; */
    
    
}

#contact p , #creators p {
    padding: 2%;
}



.button{
    padding: 5px;
    margin: 5%;
    border: solid 2px black;
    border-radius: 8px;
    width:fit-content;
    font-weight: 700;
    font-size: 40;
    background-color: #007ddc;
    transition: .5s;
    display: flex;
    align-items: center;
    
}


.button:hover{
    cursor: pointer;
    color: #00b7dc;
    background-color:rgb(8, 8, 77);
    border: 2px solid #00b7dc;
    
}

a{
    text-decoration: none;
    color: inherit;
}


#arihant {

    margin: 0;
    margin-bottom: 0%;
    margin-left: 40%;
    background-color: #007ddc;


}

#arihant:hover{
    background-color: rgb(8, 8, 77);
    border: 2px solid #007ddc;
    color: 007ddc;
}


#adamya{
    margin: 0;
    margin-bottom: 0%;
    margin-left: 40%;
    background-color: rgb(8, 8, 77);
    border: 2px solid #007ddc;
    
}

#adamya:hover{
    background-color: #007ddc;
    border: 2px solid rgb(8, 8, 77);
    color: rgb(8, 8, 77);
   
}


.strike{
    text-decoration: line-through 2px black;
    
}

/*Media queries*/

@media screen and (max-width: 600px){
    #home h1{
        font-size: 55px;
        margin-top: o;
        
    }

    /* #status p{

        margin-left: 10%;

    } */

    #status {
        margin: 5%;
    }

    .symbol p1{
        margin: 0 35%;
    }

    .symbol ol{
        margin: 2% 5%;
        width: 90%;
    }
    
    #contact_us{
        font-size: 30;
    }

    #arihant{
        margin: 0 10vw;
        font-size: 30;
        height: fit-content;
        
    }

    #adamya{
        margin: 0 10vw;
        font-size: 30;
        height: fit-content;
        
    }

  
    header{
        visibility: hidden;
        position: absolute;
       

    }

    body{
        background: none;
        background: url(./HD-wallpaper-x-treme-skull-purge-skulls.jpg) ;
        /* background-size:cover ; */
        background-position: center;
        background-position-y:top ;
        

    }

    #about{
        text-align: left;
    }
    #about h1{
        text-align: center;
    }
    #rules p{
        margin: 0;
    }

    .Players{
        width: 95%;
        
    }  
  

}


/* KEYFRAMES ANIMATIONS */

/* @keyframes showRight{
    100%{
        width: 0;

    }
} */


