*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
html{
    scroll-behavior: smooth;
  
}


body{
    
    color: aliceblue;

    background: url('photo.jpg') no-repeat; 
    background-size: cover;
    background-position: center; 

    /* 
    display: flex;
    justify-content: space-around;
    align-items: center;
*/

}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    position: relative;
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
   
}

nav a{
    font-size: 18px;
    color: aliceblue;
    text-decoration: none;
    font-weight: 500;
    margin: left 25px;
    transition: .3s;
}

nav a:hover{
    color: aqua;
    font-size: 20;

}

section div{
    margin: 5%;
    padding: 5px;
    text-align: center;
    
}

section div h1{
    font-size: 50;
}

#home h1{
    font-size: 70;
    
    }
#rules p{
    margin: 40px;
    text-align:left;
    font-weight: 700;
    color: wheat;
    font-size: 20;
    
    
}



.Players , .Eliminated{
    
    color: aqua;
    height:fit-content;
    padding: 30px 20px;
    width: 90%;
    border: solid 2px black;
    border-radius: 40px;
    text-align: left;
    background-color: rgba(0, 195, 255, 0.707);
    font-weight: 700;
    transition: 0.3s;
}

.Players:hover{
    color: black;
    background-color: rgba(0, 255, 21, 0.733);
    
}
.Eliminated:hover{
    color: black;
    background-color: rgba(255, 17, 17, 0.722);
    

}


.Players{
    color: rgb(92, 255, 92);
}

.Players ol li{
    margin: 1 20px;
}

.Eliminated{
    color: rgb(253, 57, 57);
}

.contain{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-content: center;
    
    
         
}

 #g1{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    justify-content: center;
    align-content:center ;
    margin: 0 50%;
   
}       

#status p{
    
    padding: 5px;
    Margin: 25px;
    /* margin-left: 80px; */
    font-size: 20;
    font-weight: 700;
    background-color: rgba(128, 128, 128, 0.693);
    border: 2px solid black;
    border-radius: 10px;
    /* width: 90%; */
    color: rgb(7, 227, 161);
    justify-content: space-between;
    

}

#contact{
    align-items:center;
    /* background-color: aqua; */
    
    
}

#contact p , #creators p {
    padding: 2%;
}

#about p , #home p{
    font-size: 20;
}

#about p2{
    font-weight: 800;
    color: wheat;
}

.button{
    padding: 5px;
    margin: 5%;
    border: solid 2px black;
    border-radius: 8px;
    width:fit-content;
    font-weight: 700;
    font-size: 40;
    background-color: rgb(3, 200, 3);
    transition: .5s;
    display: flex;
    align-items: center;
    
}


.button:hover{
    cursor: pointer;
    color: rgba(6, 249, 95, 0.618);
    background-color: rgba(0, 0, 0, 0.759);
    border: 2px solid gold;
    /* padding: 1.5%; */
}
a{
    text-decoration: none;
    color: inherit;
}


#arihant {

    margin: 0;
    margin-bottom: 90%;
    margin-left: 40%;
    background-color: #007ddc;


}

#arihant:hover{
    background-color: rgb(8, 8, 77);
    border: 2px solid #007ddc;
    color: 007ddc;
}


#adamya{
    margin: 0;
    margin-bottom: 90%;
    margin-left: 40%;
    background-color: rgb(8, 8, 77);
    border: 2px solid #007ddc;
    
}

#adamya:hover{
    background-color: #007ddc;
    border: 2px solid rgb(8, 8, 77);
    color: rgb(8, 8, 77);
   
}

.contain{
    margin: 0;
}

.strike{
    text-decoration: line-through 2px black;
    
}

/*Media queries*/

@media screen and (max-width: 600px){
    #home h1{
        font-size: 55px;
        margin-top: 10%;
    }

    #status p{

        margin-left: 10%;

    }

    #g1{
        margin: 0 25vw;
        font-size: 30;
    }

    #arihant{
        margin: 0 10vw;
        font-size: 30;
        height: fit-content;
        
    }

    #adamya{
        margin: 0 10vw;
        font-size: 30;
        height: fit-content;
        
    }

  
    header{
        visibility: hidden;
    }

    #about{
        text-align: left;
    }
    #about h1{
        text-align: center;
    }
    #rules p{
        margin: 0;
    }

    .Players{
        width: 95%;
        
    }

    
   

}


/* KEYFRAMES ANIMATIONS */
/* @keyframes showRight{
    100%{
        width: 0;

    }
} */


